@model CountryWeather.Models.CountryWeatherInformation

@if (Model == null || Model.WeatherInfo == null || Model.WeatherInfo.Location == null)
{
    return;
}

<div id="divDet">
    @Html.TextBox("loc", "Location " + Model.WeatherInfo.Location, new { @class = "input-lg", @readonly = "readonly" })
    @Html.TextBox("time", "Time: " + (Model.WeatherInfo.Time == null ? "not provided" : Model.WeatherInfo.Time), new { @class = "input-lg", @readonly = "readonly" })
    @Html.TextBox("wind", "Wind (speed): " + (Model.WeatherInfo.WindSpeed == null ? "not provided" : Model.WeatherInfo.WindSpeed),
        new { @class = "input-lg", @readonly = "readonly" })
    @Html.TextBox("vis", "Visibility: " + (Model.WeatherInfo.Visibility == null ? "not provided" : Model.WeatherInfo.Visibility),
        new { @class = "input-lg", @readonly = "readonly" })
    @Html.TextBox("sky", "Sky conditions: " + (Model.WeatherInfo.Clouds == null ? "not provided" : Model.WeatherInfo.Clouds),
        new { @class = "input-lg", @readonly = "readonly" })
    @Html.TextBox("temp", "Temperature: " + (Model.WeatherInfo.Temperature == null ? "not provided" : Model.WeatherInfo.Temperature),
        new { @class = "input-lg", @readonly = "readonly" })
    @Html.TextBox("dew", "Dew Point: " + (Model.WeatherInfo.DewPoint == null ? "not provided" : Model.WeatherInfo.DewPoint),
        new { @class = "input-lg", @readonly = "readonly" });
    @Html.TextBox("hum", "Humidity: " + (Model.WeatherInfo.Humidity == null ? "not provided" : Model.WeatherInfo.Humidity),
        new { @class = "input-lg", @readonly = "readonly" });
    @Html.TextBox("press", "Pressure: " + (Model.WeatherInfo.Pressure == null ? "not provided" : Model.WeatherInfo.Pressure),
        new { @class = "input-lg", @readonly = "readonly" });
</div>

